/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
* {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}


.main {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  flex-direction: column;
  align-items: center;
  /* background-image: linear-gradient(0deg, rgba(129,185,233,1) 33%, rgba(119,11,255,1) 92%); */
  height: 100vh;
  width: 100vw;

  animation-name: backgroundColorPalette;
  animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

.movieDisplay {
  border: solid purple;
  width: 65%;
  height: 55%;
  margin-top: 10px;
  color:rgb(232, 223, 212);
  font-size: larger;
  text-shadow: 2px 2px 4px #c284da;
  
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/438/840/original/theater-stage-background-vector.jpg);
  background-size: cover;
  background-position: center top;

  animation-name: borderColorPaletteReverse;
  animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

#mainPoster {
  transition: 1.5s;

}

#mainPoster:hover{
  scale: 130%;
}

.listMovies {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.listMap {
  margin: 20px;
  scale: 60%;
  transition: .5s;
}

.listMap:hover {
  scale: 110%
}

#summary {
  width: 80%;
  margin-left: 10%;
  
}


@keyframes backgroundColorPalette {
	0% {
		background: #D3B1C2
	}
	25% {
		background: #C197D2
	}
	50% {
		background: #BC96CA
	}
	75% {
		background: #613659;
	}
	100% {
		background: #D3B1C2;
	}
}
@keyframes borderColorPaletteReverse {
	0% {
		border:solid #D3B1C2
	}
	25% {
		border:solid #613659;
	}
	50% {
		border:solid #BC96CA
	}
	75% {
		border:solid #C197D2;
	}
	100% {
		border:solid #D3B1C2;
	}
}
