body {
    background-color: gray;
}

.header {
    background-color: black;
    padding: 4px;
    color: white;
    font-size: x-large;
    border:solid rgb(32, 67, 110);
    max-width: 70%;
    margin-left: 15%;
}

.header:hover {

    border:dashed goldenrod;
}


.headText {
    color: white;
    text-align: center;
}

.break{
    background-color: gray;
    padding: 10px;
}

.subHead{
    text-align: center;
    font-size: large;
    max-width: 70%;
    margin-left: 15%;
}

#restricted {
    color: rgb(182, 18, 18)
}

.item{
    background-color: darkslategray;
    border:solid rgba(33, 79, 153, 0.864);
}

.item:hover{
    transition: .5s;
    transform:scale(1.25);
    background-color: goldenrod;
}


/* @keyframes FlashWarn {
    0%, 49% {
        background-color: red;
    }
    50%, 100%{
        background-color: yellow;
    }
} */

#restricted:hover{
    background-color: red;
    color: black;
}

