/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.X, .O {
  margin-left: 60px;
  margin-right: 60px;
  
}

.playerCards {
  display: flex;
  flex-direction: row;
  color: forestgreen;
  
}

.board {
  /* flex-basis: 60%; */
  /* justify-items: stretch; */
  display: grid;
  grid-template-columns: 15vw 15vw 15vw;
  grid-template-rows: 15vw 15vw 15vw;
  color: white;
  justify-content: center;
  
}

.square {
  /* height: 100px;
  width: 100px; */
  border: solid black 1.5px;
}